/* main.css */

head {
	
}

body {
	/*background-color: lightblue;		/* Background needed for incorrect resizing */
	background-image: url("Pictures/JeffersonMemorial_Sunset.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;

	/* GOAL: Switch b/n portrait & landscape images depending on orientations and/or mobile */
}

h1 {

}

p {

}